@model PaginatedList<DocumentManagement.ViewModels.DocumentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">Documents </li>

                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<form action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" class="form-group" name="str" placeholder="Search Documents.." />
            <input type="submit" value="Search" class="btn btn-default btn-sm" />
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Document Title
            </th>
            <th>
                Document Name
            </th>

            <th>
                Options
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentTitle)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a href="/Document/Download/@item.DocumentId" class="btn btn-danger">Download</a>
                    <a href="/Document/Details/@item.DocumentId" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>